In [3]:
a = 15

In [4]:
a

15

# Data type
1. Integer
2. String
3. Float
4. list
5. tuple
6. Dictionary
7. sets
8. Booolan

In [5]:
a = 15

In [6]:
"hello world"

'hello world'

In [7]:
c = "Arunachalam"

In [8]:
c

'Arunachalam'

In [10]:
d =1.4

In [11]:
d

1.4

In [15]:
d

1.4

In [16]:
a = 15
a = 20
a

20

In [17]:
a = 20

In [18]:
food_cost = 11

In [19]:
python_language = "Version 3.9"

In [20]:
python_language

'Version 3.9'

In [22]:
34good = 13

SyntaxError: invalid decimal literal (3513586505.py, line 1)

In [23]:
good34 = 13

In [24]:
_x = 3
_x

3

### allowed
A-Z, a-z, 0-9, and _

In [26]:
age = 23
Age=32
age

23

In [27]:
Age

32

In [28]:
AGE = 13

In [29]:
AGE

13

# John is a patient. he is 20 yrs old. He is having an headache. he is a new patient?

Variable_names?
datatypes

In [30]:
True
False

False

In [31]:
name = "John"
age = 23
disease = "Headache"
is_new_patient = True

## Librarian wanted to store the books data what are the variables you will save?

### Variables need to store

isbn_book, name_book, author, publication_name, year, price, availability_status, rack_no

### input() Functions

In [34]:
name = input("Enter your name: ")
print("His name is ", name)

Enter your name: Arun
His name is  Arun

In [33]:
name

'Arun'

### Question: Get the person name and fav colour and print "{name} like {fav_col}"

In [35]:
name = input("Enter your name: ")
fav_col = input("Enter fav color: ")
print(name, " likes ", fav_col )

Enter your name: Arun
Enter fav color: Blue
Arun  likes  Blue

## Print Statement - Formatting

In [36]:
print("Hi %s there, his predicted life is %.2f years" % ("you", 23.5677))

Hi you there, his predicted life is 23.57 years

%s - string<br />
%d - interger/ digit <br />
%f - float <br />

In [38]:
name = "Arun"
height = 169.34

In [40]:
print("Name is %s his height is %.2f" % (name, height))

Name is Arun his height is 169.34

In [41]:
print(f"Name is {name} his height is {height}")

Name is Arun his height is 169.34

In [43]:
name + " is his name"

'Arun is his name'

In [44]:
a = '''
Welcome to Python Program

1. Datatypes
2. Operators
3. Control Statement
'''

In [45]:
print(a)

Welcome to Python Program

1. Datatypes
2. Operators
3. Control Statement

In [48]:
# \n is newline
print("Welcome to Python Program \n1. Datatype \n2.Operators")

Welcome to Python Program
1. Datatype
2.Operators

### Question
How old are you?<br />
How tall are you?<br />
How much do you weigh? <br />

Print:<br />
So, you're '32' old, '169' tall and '72' heavy.

In [50]:
print('So, you"re "32" old, "169" tall and "72" heavy.')

So, you"re "32" old, "$169" tall and "72" heavy.

In [57]:
# calculate
year_of_birth = input("Enter the year of Birth: ")
current_yr = 2022
age = current_yr-int(year_of_birth)
print(f"Age is {age}")

Enter the year of Birth: 1990
Age is 32

In [53]:
# casting
a = "1990"
type(a)

o = 1.4
type(o)

str

In [56]:
c = int(a)
type(c)

int

In [58]:
str("a")

'a'

## List

cities in Tamil nadu

In [60]:
a= "Trichy"
b= "chennai"

In [61]:
a, b

('Trichy', 'chennai')

In [64]:
tamil_nadu = ["Trichy", "Chennai", "Coimbatore"]

In [65]:
tamil_nadu

['Trichy', 'Chennai', 'Coimbatore']

In [67]:
# add an element
tamil_nadu.append("Tirunelveli")

In [68]:
tamil_nadu

['Trichy', 'Chennai', 'Coimbatore', 'Tirunelvel', 'Tirunelveli']

In [69]:
# Last element
tamil_nadu.pop()

'Tirunelveli'

In [70]:
tamil_nadu.remove("Tirunelvel")

In [71]:
tamil_nadu

['Trichy', 'Chennai', 'Coimbatore']

In [73]:
tamil_nadu.insert(1, "Tirunelveli")

In [74]:
tamil_nadu

['Trichy', 'Tirunelveli', 'Chennai', 'Coimbatore']

In [75]:
tamil_nadu[0]

'Trichy'

In [95]:
## Multi-dimesional list 2*2
a = [[[1,2], 2], [3, 4]]

In [96]:
a[1][1]

4

In [101]:
tamil_nadu[0]

'Trichy'

## Tuples - immutable

In [221]:
a = (1, 2, 3)

In [226]:
a[2] = 3

TypeError: 'tuple' object does not support item assignment

In [229]:
a = a + (5, )

In [231]:
a.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [223]:
b = [1, 2]
b[0] = 5
b

[5, 2]

## Sets

In [232]:
a = {2, 3, 4}

In [233]:
b = {2, 1, 3}

In [234]:
a.union(b)

{1, 2, 3, 4}

In [235]:
a.intersection(b)

{2, 3}

In [237]:
a = [1, 3, 3, 5, 7]

In [238]:
b = set(a)
b

{1, 3, 5, 7}

## Dictionary

In [97]:
a = {"name": "Arun", "age": 23}

In [102]:
a["age"], a["name"]

(23, 'Arun')

In [103]:
# add key value pair
a["native"] = "Salem"

In [104]:
a

{'name': 'Arun', 'age': 23, 'native': 'Salem'}

In [105]:
b = {"name": "Raj", "age": 42}

In [107]:
a, b

({'name': 'Arun', 'age': 23, 'native': 'Salem'}, {'name': 'Raj', 'age': 42})

In [109]:
c= [a, b]

In [110]:
c

[{'name': 'Arun', 'age': 23, 'native': 'Salem'}, {'name': 'Raj', 'age': 42}]

In [111]:
c[0]

{'name': 'Arun', 'age': 23, 'native': 'Salem'}

In [112]:
c[1]

{'name': 'Raj', 'age': 42}

In [113]:
a["name"]

'Arun'

In [114]:
# delete key value pair
del a["name"]

In [115]:
a

{'age': 23, 'native': 'Salem'}

Arithmetic operators

+, -, *, / , %, **, //

In [116]:
5+3

8

In [117]:
5-2

3

In [118]:
2*3

6

In [119]:
3/2

1.5

In [120]:
3%2

1

In [122]:
# exponential
2**2

4

In [123]:
2**3

8

In [124]:
3//2

1

In [125]:
4//2

2

In [126]:
4/2

2.0

In [127]:
3/2

1.5

In [128]:
3//2

1

Assignment operators (=, +=, -=, *=, /=, %=, **=, //=)

In [129]:
a = 15

In [130]:
a += 2

In [131]:
a

17

In [132]:
a = a+2

In [133]:
a -= 2

In [134]:
a

17

In [135]:
 a *= 2

In [136]:
a

34

In [137]:
a/=2

In [138]:
a

17.0

Comparision operators (==, <=, >=, !=, <, >)

In [139]:
5 == 5

True

In [141]:
"Arun" == "run"

False

In [142]:
5< 2

False

In [143]:
3>2

True

In [144]:
3!=2

True

In [145]:
5<=5

True

In [147]:
5<=2

False

Logical operators (and , or, not)

In [149]:
True and False

False

In [150]:
True or False

True

In [152]:
not False

True

Operator Precedence x = 10+ 3 * 2 ==> 10+6 = 16

A. Paranthesis<br />
B. Exponentiation<br />
C. Multiplication or Division<br />
D. Addition or Subraction<br />

In [153]:
x = 10+ 3 * 2

In [154]:
x

16

In [157]:
x = (10+3)*2**2

In [159]:
x

52

### Conditions

In [161]:
temp = 17
if temp >= 30:
    print("Hot day")
else:
    print("Pleasant day")

Pleasant day

In [162]:
temp >= 30

False

In [166]:
# Nested if statements
temp = 31
if temp >= 30:
    print("Hot day")
elif temp < 10:
    print("Cool day")
else:
    print("Pleasant day")

Hot day

### Project

Write a program to find the downpayment the user have to pay. Price of the house is 1M Rupees. if the buyer has good credit then downpayment should be 10% of the price of property otherwise 20% of the price of property. Then print the downpayment the buyer has to pay.

In [169]:
price_of_house = 1000000
is_good_credit = False
if is_good_credit:
    down_payment = price_of_house * 0.1
else:
    down_payment = price_of_house * 0.2
print("Downpayment: Rs ", down_payment)

Downpayment: Rs  200000.0

## Loops 
1. While
2. For

In [170]:
fruits = ["apple", "orange", "banana"]
for fruit in fruits:
    print(fruit)

apple
orange
banana

In [172]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [173]:
len(fruits)

3

In [175]:
for i in range(len(fruits)):
    print(i)
    print(fruits[i])

0
apple
1
orange
2
banana

In [176]:
b = {"name": "Arun", "age": 23}
for k, v in b.items():
    print(k, v)

name Arun
age 23

# Print a triangle - using for loop
*<br />
**<br />
***<br />
****<br />
*****<br />

In [177]:
a = [1, 2, 3, 4, 5]
for i in a:
    print("*"* i)

*
**
***
****
*****

In [180]:
"Arun " * 2

'Arun Arun '

In [181]:
## While - game development
print("Welcome to the car game")
print('''
You have Three commands to operate the car
'Start' - will start the engine
'Stop' - will stop the engine
'Quit' - will exit out of the game
''')

Welcome to the car game

You have Three commands to operate the car
'Start' - will start the engine
'Stop' - will stop the engine
'Quit' - will exit out of the game

In [183]:
cond = True
while cond:
    command = input("Enter the command: ")
    if command == "Start":
        print("Car Started...")
    elif command == "Stop":
        print("Car Stopped...")
    elif command == "Quit":
        print("Byee...")
        cond = False
    else:
        print("I don't understand your command")

Enter the command: Quit
Byee...

In [184]:
# use while loop to add records
i = 1
num_records = input("Enter the number of records to save: ")
data = []
while i <= int(num_records):
    new_record = {}
    new_record["name"] = input("Please Enter the name: ")
    new_record["age"] = input("Enter the age: ")
    data.append(new_record)
    i = i + 1

print("\n")
for record in data:
    print(f"Name of student is {record['name']} and age is {record['age']}")

Enter the number of records to save: 2
Please Enter the name: Arun
Enter the age: 23
Please Enter the name: Raj
Enter the age: 32


Name of student is Arun and age is 23
Name of student is Raj and age is 32

## Functions

In [187]:
def fn_name():
    print("Hello World")

In [188]:
fn_name()

Hello World

In [190]:
def add_two_number(x, y):
    return x+y

In [191]:
a = add_to_number(x=10, y=2)

In [192]:
a

12

In [202]:
def add_two_arg_num(*args):
    print(args)
    # parsing
    x, y, z = args
    return x+y+z

In [203]:
add_two_arg_num(12, 2, 3)

(12, 2, 3)

17

In [217]:
def add_kwargs(**kwargs):
    for k, v in kwargs.items():
        print(k, v)

In [219]:
dict_a = {"Arun":10, "23": 23}
add_kwargs(kwargs=dict_a)

kwargs {'Arun': 10, '23': 23}